<!DOCTYPE html>
<html>
<head>
  <title>Test Page</title>
<!--
  <link rel="stylesheet" href="./vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
  -->
<!--
  <script src="./vendor/bower_components/jquery/src/jquery.js"></script>
  <script src="./vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
-->
</head>
<body>
<header>
    
    
    
</header>

    <section class="container">

 
<p>это тестовая страница</p>

 <% if (user) { %>
<p> Добро пожаловать, <%= user.username %></p>
<% } %>
  
</section>

 <footer>
 
 </footer>

</body>

</html>


