<!DOCTYPE html>
<html>
<head>
  <title><%=block('title').toString() %></title>

  <link rel="stylesheet" href="./vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
  

  <!-- <script src="./vendor/bower_components/jquery/src/jquery.js"></script> -->
  <script src="./vendor/jquery-3.4.1.js"></script>
  <script src="./vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<header>
    <% include ../partials/header %>
    
    
</header>

    <section class="container">

  <%- partial('../partials/topNavigation')%> 

  <!-- block title -->

  <%- body -%>
  
</section>

 <footer>
  <% include ../partials/footer %>
 </footer>

</body>

</html>